@model Web.Core.UserManagement.ViewModels.ChangePasswordViewModel
<form asp-controller="UserManagement" asp-action="ChangePassword" id="frmChangePassword" method="post">
    <div class="modal-body">
        <div class="form-group">
            <label asp-for="CurrentPassword" class="control-label"></label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">خروج</button>
        <button onclick="event.preventDefault();saveAndupdate($(this.form), $(this.form).attr('action'));"
                class="btn btn-primary" perform="action">
            ذخیره
        </button>
    </div>
</form>