@using Web.Core.TransactionDetails;
@using DomainEntities.TransactionFileAggregate;
@using Infrastructure.Data.ApplicationUserAggregate;
@using ApplicationCommon;

@model int?

@{
    ViewBag.Title = "لیست تراکنش های شعبه";
}

<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    لیست تراکنش های فزونی ثبت شده در سامانه
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="k-rtl">
            <div id="report-grid"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            const dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action(nameof(TransactionDetailsController.BranchDetailGetRecords), new { fileId=Model })',
                        dataType: "json",
                        type: 'GET'
                    },
                    parameterMap: function(options) {
                        return `models= ${kendo.stringify(options)}`;
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                error: function(e) {
                    alert(e.errorThrown);
                },
                pageSize: 10,
                sort: { field: "Date", dir: "desc" },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            });

            var grid = $("#report-grid").kendoGrid({
                dataSource: dataSource,
                autoBind: true,
                //detailInit: detailInit,
                scrollable: false,
                pageable: {
                    buttonCount: 5,
                    refresh: true,
                    input: true,
                    pageSizes: [5, 10, 15, 20, 25, 50, 100],
                    info: true
                },
                sortable: true,
                filterable: {
                    mode: "menu",
                    messages: {
                        selectedItemsFormat: "{0} آیتم انتخاب شده",
                        search: "جستجو",
                        checkAll: "انتخاب همه",
                        clear: "لغو",
                        filter: "اعمال"
                    }
                },
                //filter: { field: "FileId", operator: "eq", value: e.data.Id }
                toolbar: [{
                    template: `<a class="k-button" href="@Url.Action(nameof(TransactionDetailsController.ExportExcel))"><span class="k-icon k-i-windows"></span>خروجی اکسل</a>`
                }],
                reorderable: true,
                columnMenu: true,
                columns: [
                    { field: "Id", hidden:true },
                    { field: "Date", template: "#=Date.match(/.{1,2}/g).join('/')#", title: "تاریخ", media: "(min-width: 450px)" },
                    { field: "Time", template: "#=Time.match(/.{1,2}/g).join(':')#", title: "ساعت", media: "(min-width: 450px)" },
                    { field: "DocumentCode", title: "شماره سند", media: "(min-width: 450px)" },
                    { field: "TransactionNumber", title: "شماره تراکنش", media: "(min-width: 450px)" },
                    { field: "AtmCode", title: "سریال ترمیتال", media: "(min-width: 450px)" },
                    { field: "CardNumber", title: "شماره کارت", media: "(min-width: 450px)" },
                    { field: "FileName", title: "نام فایل", media: "(min-width: 450px)" },
                    { field: "BranchName", title: "نام شعبه", media: "(min-width: 450px)" },
                    { field: "BranchCode", title: "کد شعبه", media: "(min-width: 450px)" },
                    { field: "Amount", title: "مبلغ", format: "{0:#,##}", media: "(min-width: 450px)" },
                    { field: "ReferenceDateBoss", title: "تاریخ ارجاع رئیس شعبه", media: "(min-width: 450px)" },
                    { field: "ReferenceDateOperator", title: "تاریخ ارجاع متصدی", media: "(min-width: 450px)" },
                    { field: "IsRefahi", title: "رفاه کارت است؟", attributes:{ class:"text-center" },
                        template: '<input type="checkbox" #: IsRefahi ? "checked=checked" : "" # disabled />'
                    },
                    { field: "StatusTitle", title: "وضعیت", media: "(min-width: 450px)", filterable: { multi: true, search: true } },
                    { field: "UserDescription", title: "توضیحات", media: "(min-width: 450px)"},
                ]
            }).data("kendoGrid");
            grid.table.on("click", ".checkbox" , selectRow);
        });
    </script>
    <script id="toolbar-header-template" type="text/x-kendo-template">
       
    </script>
    @*<script id="responsive-column-template" type="text/x-kendo-template">
            <strong>عنوان</strong>
            <p class="col-template-val">#:data.Name#</p>
        </script>*@
}